{% extends 'base.html.twig' %}

{% block title %}New Rating{% endblock %}

{% block body %}
    <div id="title-content">
        <img src="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
        <h1>Add a comment</h1>
    </div>

        <div class="comment-content">

        {{ include('rating/_form.html.twig') }}

        </div>
        <a class="back" href="{{ path('app_series_index') }}">⟵ Back to series</a>
{% endblock %}


{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/rating.css') }} rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD">

{% endblock %}
