{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1 class="title">Explore with us the <span>wonderful</span> world of series and animes.</h1>
        <p>Have you ever gotten lost in your viewing experience because you started a multitude of series without ever finishing them? Next time, use NetSeries!</p> 
        <br>
        <p>NetSeries is <span>the solution</span> to keep tracking the series that you've already seen, the ones you're currently watching and the ones you've completed!</p>
    </div>
    <div class="search_section">
        <h2>Search for a series</h2>
        <form action="" method="GET">
            <input type="text" name="search" placeholder="Search for a series" />
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock %}