{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset('css/ficheUtilisateur.css') }} rel="stylesheet">
{% endblock %}

{% block title %}User{% endblock %}

{% block body %}

    <a class="button square profile" href="{{ path('app_user_followedSeriesById', {'id': user.id}) }}">Edit password</a>

    
    {% for u in user %}
        {{ u.id }}
    {% endfor %}

{% endblock %}