{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset('css/ficheUtilisateur.css') }} rel="stylesheet">
{% endblock %}

{% block title %}List user{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

        {% for u in users %}
            <tr>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}