h1 {
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

a.back {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 1000;
    border: 2px solid rgb(85, 80, 80);
    width: 8%;
    border-radius: 20px;
    text-align: center;
    margin: 0.5em 2em;
}

a.back img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

a.back:hover {
    color: white;
    background-color: #222222;
}

#infos {
    background-color: #ffffff;
    border: 1px solid #fcfcfc;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
    width: 93%;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
    border-radius: 16px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 2px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;

}


#infoSerie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}



.eye img {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #2c2b2b;
    border-radius: 16px;
}


.eyeClosed img {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #4399FF;
    border-radius: 16px;
    filter: invert(53%) sepia(29%) saturate(1164%) hue-rotate(174deg) brightness(100%) contrast(102%);
}

.eyeClosed img:hover {
        background-color: #ffffff;
    filter: invert(100%);
    border: none;
}


#titlePoster img {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 35rem;
    width: 20rem;
    border-radius: 10px;
}

.eye img:hover {
    background-color: #ffffff;
    filter: invert(100%);
    border: none;
}

.nameEpisode {

    margin: 0.5rem;
}

.notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notes img {
    margin: 0em 0.5em;
    height: 1em;
    width: 1em;
}

li .Viewed {
    background-color: #f5f5f5;
}

.card-header{
    border: 2px solid rgb(85, 80, 80);
    background-color: #2c2b2b;
}

.card-header a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: #2c2b2b;
}

.card-header:hover{
    color: white;
    background-color: #222222;
}

@media only screen and (max-width: 1100px) {
    #infoSerie {
        width: 65%;
    }
    #titlePoster img {
        width: 88%;
        height: auto;
    }

    iframe {
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 800px) {
    iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #infos {
        flex-direction: column;
    }
    #infoSerie {
        width: 95%;
    }
    
}

.linkComment{
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 1000;
    border: 2px solid rgb(85, 80, 80);
    width: 25%;
    border-radius: 16px;
    text-align: center;
    margin: 0.5em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

a.linkComment img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

a.linkComment p {
    font-size: 1rem;
    margin: 0.5rem;
}

a.linkComment:hover {
    border: 2px solid #fcfcfc;
    background-color: #fcfcfc;
    color: #000000;
    filter : invert(100%) sepia(0%) saturate(7500%) hue-rotate(254deg) brightness(105%) contrast(108%);
}

