img {
    width: 15vh;
}

#edit {
    display: flex;
    flex-direction: row;
}

#nameMail, #editInput {
    flex: 1;
    align-self: center;
}

#editInput {
    text-align: center;
    
}

#editInput a {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1vh;
}

a {
    text-decoration: none;
}

.content {
    display: grid;
    place-items: center;
}

#menu {
    display: flex !important;
}

form label {
    margin-bottom: -20px !important;
}

.box__auth {
    margin: 5px 0;
}