@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

div.content {
    display: flex;
    min-height: 80vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.wrapper * {
    margin: 1% 0;
}

h1.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

h1.title span {
    background-image: linear-gradient(to left, #78AEEF, #C588DE, #F889C5, #FDD081, #FFA0B7);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

div.wrapper p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    width: 90%;
}

div.wrapper p span {
    font-weight: 600;
    color: #4399FF;
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

div.buttons a.button1 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background: #4399FF;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-left: 30px;
    margin-right: 70px;
}

div.buttons a.button1 img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

div.buttons a.button2 img {
    width: 23px;
    height: 23px;
}

div.buttons a.button2 {
    background: #EFEFEF;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 7px;
    display: grid;
    place-items: center;
    margin: 15px;
}

div.search_section {
    background: rgba(250, 250, 250, 0.46);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;
    width: 20%;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.search_section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.search_section input[name="search"] {
    background: url(../images/icons/search.svg) #FFFFFF no-repeat scroll 14px;
    margin: 30px 0px;
    padding-left: 50px;
    width: 100%;
    height: 30px;
    border: 0.5px solid #909090;
    border-radius: 10px;
}
 
/* Big screen devices (889px and above) */
@media only screen and (max-width: 1100px) {
    body {
        flex-direction: column;
    }

    div.wrapper {
        width: 80%;
        align-items: center;

    }

    h1.title {
        margin-top: 3%;
        font-size: 36px;
        line-height: 50px;
        width: 80%;
    }

    div.search_section {
        margin-top: 5%;
        width: 60%;
    }

    div.wrapper p {
        width: 80%;
    }

    div.buttons {
        width: 80%;
    }

    div.search_section input[name="search"] {
        background: url(../images/icons/search.svg) #FFFFFF no-repeat scroll 14px;
        margin: 40px 0px;
        padding-left: 50px;
        width: 100%;
        height: 30px;
        border: 0.5px solid #909090;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
    }

    div.wrapper {
        width: 80%;
        align-items: center;

    }

    h1.title {
        margin-top: 3%;
        font-size: 36px;
        line-height: 50px;
        width: 80%;
    }

    div.search_section {
        margin-top: 5%;
        width: 60%;
    }

    div.wrapper p {
        width: 90%;
    }

    div.buttons a.button1 {
        font-size: 15px;
    }

    div.buttons a.button2 {
        margin: 0 5px;
    }

    div.search_section input[name="search"] {
        background: url(../images/icons/search.svg) #FFFFFF no-repeat scroll 14px;
        margin: 40px 0px;
        padding-left: 50px;
        width: 100%;
        height: 30px;
        border: 0.5px solid #909090;
        border-radius: 10px;
    }
}