@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #2E2E2E;
    background: url('../images/background.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'poppins', sans-serif;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img {
    width: 50px;
    height: 50px;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;    
}
  
#menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#buttons a {
    gap: 10px;
}
  
#menu .button:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    border-radius: 6px;
    transition: 0.5s;
    color: #2E2E2E;
}
  
.button {
    height: 2rem;
    width: 8rem;
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button.square {
    background: #FFFFFF;
    border-radius: 15px;
    width: 2.5em;
    height: 2.5em;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.button.square img {
    width: 25px;
    height: 25px;
}

.user__profile img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}



.user__profile {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background: white;
}


#signUp {
    background-color: #4399FF;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.5s;
}

#signUp a {
    color: white;

}

#signUp:hover a {
    color: #2E2E2E;
}

#signUp:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #328eff;
    transition: 0.5s;
}

@media only screen and (max-width: 500px) {
    #buttons {
        flex-direction: column;
    }
}