@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #2E2E2E;
    background: url('../images/background.png') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'poppins', sans-serif;
    background-color: white;
}

#burger {
    display: none;
    position: absolute;
    right: 5px;
    z-index: 2;
    cursor: pointer;
}

#burger > div {
    width: 25px;
    height: 3px;
    background-color: #2E2E2E;
    border-radius: 15px;
    margin: 3px 0;
}

#burger.close {
    position: fixed;
    right: 5px;
    z-index: 98;
}

#burger.close > div {
    width: 30px;
}

#burger.close > div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger.close > div:nth-child(2) {
    opacity: 0;
}

#burger.close > div:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -7.5px);
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img {
    width: 50px;
    height: 50px;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#menu a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#buttons a {
    gap: 10px;
}
  
#menu .button:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    border-radius: 6px;
    transition: 0.5s;
    color: #2E2E2E;
}
  
.button {
    height: 1.8rem;
    width: 8rem;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.5rem;
}

.button.square {
    background: #FFFFFF;
    border-radius: 15px;
    width: 2.4em;
    height: 2.4em;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.button.square.profile {
    width: auto
}

.button.square img {
    width: 25px;
    height: 25px;
}

.button.square .user__profile img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.user__profile img {
    margin-top: 10px;
}



.user__profile {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background: white;
}


#signUp {
    background-color: #4399FF;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.5s;
}

#signUp a {
    color: white;

}

#signUp:hover a {
    color: #2E2E2E;
}

#signUp:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #328eff;
    transition: 0.5
}
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  

@media only screen and (max-width: 500px) {
    #buttons {
        flex-direction: column;
        align-items: center;
    }
}

[data-tooltip]:before {            
    position : absolute;
    vertical-align: bottom;
    content : attr(data-tooltip);
    top: 125%;
    opacity: 0;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.15s ease;
    box-shadow: 2px 2px 1px silver;
    width: auto;

    /* Alignement du tooltip avec le bouton */
    left: 50%;
    transform: translateX(-50%);

    /* Pour que le tooltip ne sorte pas de la page */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-tooltip]:hover:before {        
    opacity : 0.9;
}

[data-tooltip]:hover:after {        
    opacity : 0.9;
}

[data-tooltip]:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: all 0.15s ease;
  }

  /* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

div.warning {
    display: none;
}

@media screen and (max-width: 800px) {
    #menu #buttons {
        display: none;
        right: 0;
        width: 250px;
    }

    #menu #burger {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
    }

    #buttons.active {
        display: flex !important;
        flex-direction: column;
        height: 100%;
        position: fixed;
        z-index: 97;
        top: 0;
        padding-top: 60px;
        transition: right 0.5s ease;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.438);
        backdrop-filter: blur(10px)

    }
    
    .button {
        padding: 3px 8px;
        margin: 10px 0;
        text-decoration: none;
        font-size: 1rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        width: auto;
        height: auto;
        display: grid;
        place-items: center;
      }
    
    .button.square.profile {
        font-size: 0.8rem;
        gap: 15px;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 450px) {

    .table {
        display: none;
    }

    form {
        display: none !important;
    }

    .content {
        display: none !important;
    }

    div.warning {
        display: flex;
        flex-direction: column;
        align-items: center;    
        font-size: 1.5em;
        width: 80%;
        align-self: center;
        text-align: center;
        margin: 50px 0;
        background: #FFFFFF;
        opacity: 1;
        border: 0.5px solid #909090;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 20px;
    }

    div.warning img {
        width: 3rem;
    }
}