@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    transition: 0.5s;
    font-family: 'poppins', sans-serif;
    font-weight:400;
}

body {
    display: flex;
    flex-direction: column;
    color: #2E2E2E;
    background: url('../images/background.png') no-repeat center center fixed; 
    background-size: cover;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img {
    width: 60px;
    height: 60px;
}

#text_logo {
    padding-top: 20px;
}

#buttons {
    display: flex;
    flex-direction: row;
}
  
#menu a {
    text-decoration: none;
    color: black;
}
  
#menu .button:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 6px;
    transition: 0.5s;
}
  
.button {
    height: 2rem;
    width: 8rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#signUp {
    background-color: #4399FF;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.5s;
}

#signUp a {
    color: white;

}

#signUp:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #328eff;
    transition: 0.5s;
}

#menu img {
    height: 65px;
    width: 65px;
}