.serie {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    flex: 1;
    padding-top: 1.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 30rem;
    align-items: center;
    margin-inline: 1.5rem;
}

.imgSerie {
    height: 50%;
    width: 80%;
    border-radius: 5px;
}

#poster {
    height: 100%;
    width: 100%;
}

.series {
    display: flex;
    flex-direction: row;
}