.serie {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    flex: 1;
    padding-top: 1.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 30rem;
    align-items: center;
    margin-inline: 1.5rem;
}

.imgSerie {
    height: 50%;
    width: 80%;
    border-radius: 5px;
}

#poster {
    height: 100%;
    width: 100%;
}

.series {
    display: flex;
    flex-direction: row;
}

#infos {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 16px;
}

#titlePoster {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#posterShow {
    height: 35rem;
    width: 20rem;
    border-radius: 5px;
}

#infoSerie {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .series {
        flex-direction: column;
    }

    #infos {
        flex-direction: column;
    }
}