{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>Genre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# On parcours tout les genres et on affiche leurs informations #}
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    {# Lien pour modifier le genre concerné #}
                    <a href="{{ path('app_genre_edit', {'id': genre.id, 'idSerie' : serie.id}) }}">edit</a>
                </td>
            </tr>
        {# Sinon on affiche qu'il y a pas de genre #}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_genre_new', {'idSerie' : serie.id}) }}">Create new</a>
{% endblock %}
