{% extends 'base.html.twig' %}

{% block title %}New ExternalRating{% endblock %}

{% block body %}
    <h1>Create new ExternalRating</h1>

    {{ include('external_rating/_form.html.twig') }}

    <a href="{{ path('app_external_rating_index', {'idSeries' : serie.id}) }}">back to list</a>
{% endblock %}
